<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polls app</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/normalize.css' %}">
    <link rel="stylesheet" href=" {% static 'polls/skeleton.css' %} ">
    <link rel="stylesheet" href=" {% static 'polls/custom.css' %} ">
    <link rel="stylesheet" href=" {% static 'polls/polls.css' %} ">
</head>
<body>

    <div class="container">
        {% block content %}
        # Here goes content
        {% endblock content %}
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% block scripts %}
{% endblock scripts %}
</body>
</html>
