.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

#chart {
  width: 65%;
}

@media print {
  #chart {
    width: 15cm !important;
    height: 6cm !important;
  }
}
.button-red {
  background-color: #ee959e;
  color: #fff;
  border: none;
}

.button-red:hover {
  background-color: #cd5e77;
  color: #fff;
  border: none;
}
