.chart-container {

  width: 60vw;
  /*align-items: center;*/
}

#chart {
  width: 65%;
}

@media print {
  #chart {
    width: 15cm !important;
    height: 6cm !important;
  }
}
.button-red {
  background-color: #ee959e;
  color: #fff;
  border: none;
}

.button-red:hover {
  background-color: #cd5e77;
  color: #fff;
  border: none;
}

.chart-area{
  display: flex;
  justify-content: center;
  width: 100%;
}

canvas{
    margin: 0 auto;
    width: 50%;
    }