.chart-container {

  width: 60vw;
  /*align-items: center;*/
}

#chart {
  width: 65%;
}

@media print {
  #chart {
    width: 15cm !important;
    height: 6cm !important;
  }
}
.button-red {
  background-color: #ee959e;
  color: #fff;
  border: none;
}

.button-red:hover {
  background-color: #cd5e77;
  color: #fff;
  border: none;
}

.chart-area{
  display: flex;
  justify-content: center;
  width: 100%;
}

canvas{
    margin: 0 auto;
    width: 50%;
    }

.poll-list{
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  margin: 5px;
  color: #fff;
  text-decoration: none;
  font-size: large;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}    

.poll-list:hover {
  color: #fff;
  font-weight: 700;
}
.poll-list
