$bg_color: #e1e1e1 ;
$bg_light: #f1f1f1;
$prime_color:#6f00d7;
$prime_light: lighten($prime_color, 40%);
$green_color: green;
$red_color: #ff6961;
$margin:20px;


h1{
  // Header 1 style
  color: $prime_color;
  border-bottom: 5px solid;
  border-color: $prime_light;
  margin: $margin;

}

body {
  background-color: $bg_color;
  padding: 0px;
}

.container{
  background-color: $bg_light;
  border: 1px solid;
  border-color: #e2e2e2;
  border-radius: 10px;
  padding: 0 20px;

}

.poll-list{
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 10px 10px;
  margin: $margin;
  background-image: linear-gradient(to right, #6f00d7, #8b3ce2, #a561ec, #bd83f6, #d3a4ff);
  &:hover {
    a {
    color: #fff;
    font-weight: 700;
    }

  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.vote-btn {
  display: flex;
  justify-content: space-around;
}

.vote-form {
  border-bottom: 2px solid;
  border-color: #e1e1e1;
  margin-bottom: 1.5rem;
}

.vote-choice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid;
  padding: 0.2rem 0;
  margin-bottom: 0.15rem;
  height: 3rem;
  background-color: $red_color;
}
.vote-choice:last-child {

  margin-bottom: 1rem;

}
.vote-choice input {
   margin: 0 0 0 0.3rem;
}

.vote-choice label {

  margin: 0;
}